<p>
<h1 class="text-center text-light">Welcome to MasterChef</h1>
<%= form_tag  url: sessions_path do  %>
    <ul>
    <div class="text-center text-light"> 
        <%= label_tag "Username" %><br>
        <%= text_field_tag :username %>
    </div> 
  
    <div class="text-center text-light">
        <%= label_tag "Password" %><br>
        <%= password_field_tag :password %>

    </div>

<div class="d-flex justify-content-center" style = "margin-left: 450px; margin-top:10px">
<div class="table-responsive">
<table class="signup_login_table text-center"  >

<tr >
    <td>
    <div class="form-group d-flex justify-content-center" >
      <%= submit_tag "Login", class: "btn btn-primary" %>
    </div>
    <%end%>
    </td>

    <td>
    <div class="form-group d-flex justify-content-center">
      <%= button_to "Sign up", new_user_path,  method: :get, class: "btn btn-success" %>
    </div>
    </td>
</tr>
</table>
</div>
</div>
</ul>

