<p>
<h1 class="text-center">Welcome to MasterChef</h1>
<%= form_for( :session, url: login_path ) do | form | %>
    <ul>
    <li>
    <div class="form-group"> 
        <%= form.label "Username" %>
        <% name_error_class = 'is-invalid' if(@errors["username"]) %> 
        <%= form.text_field :username, class: "form-control #{name_error_class}" %>
        <% (@errors["username"] || [] ).each do | message | %>
            <span class="invalid-feedback"><%= message %></span>
        <% end %>
    </div>
    </li>

    <li>
    <div class="form-group">
        <%= form.label "Password" %>
        <%= form.password_field :password, class: "form-control #{ @errors["password"] ? 'is-invalid' : '' }" %>
        <% (@errors["password"] || [] ).each do | message | %>
            <span class="invalid-feedback"><%= message %></span>
        <% end %>
    </div>
    </li>

    </ul>

<ul>
<div class="table-responsive">
<table class="signup_login_table">

<tr>
    <td>
    <div class="form-group">
      <%= form.submit "Login", class: "btn btn-primary" %>
    </div>
    <%end%>
    </td>

    <td>
    <div class="form-group">
      <%= button_to "Sign up", new_user_path,  method: :get, class: "btn btn-success" %>
    </div>
    </td>
</tr>
</table>
</div>
</ul>

