<h1>Welcome to MasterChef</h1>
<%= form_with( model: @user ) do | form | %>
    <ul>
    <li>
    <div class="form-group"> 
        <%= form.label "Username" %>
        <% name_error_class = 'is-invalid' if(@errors["username"]) %> 
        <%= form.text_field :username, class: "form-control #{name_error_class}" %>
        <% (@errors["username"] || [] ).each do | message | %>
            <span class="invalid-feedback"><%= message %></span>
        <% end %>
    </div>
    </li>
    <li>
    <div class="form-group">
        <%= form.label "Password" %>
        <%= form.text_field :password, class: "form-control #{ @errors["password"] ? 'is-invalid' : '' }" %>
        <% (@errors["password"] || [] ).each do | message | %>
            <span class="invalid-feedback"><%= message %></span>
        <% end %>
    </div>

    <div class="form-group">
      <%= form.submit "Login" %> 
    </div>
    <% end %>

 <div><%= button_to "Sign up", new_user_path,  method: :get %></div>





