<p>
<h2 class = "text-center"><%= @recipe.name %></h2>

<ul>
<div class="table-responsive-xl">
<table class="table" >

<tr>
  <p><img src= "<%= @recipe.img_url %>" class="rounded" height="600" width="500">
</tr>

<tr>
  <p>Spicy Level: <%= @recipe.spicy_level %>
</tr>


<tr>
  <p >Sweet Level: <%= @recipe.sugar_level %>
</tr>

<tr>
  <p>Calories: <%= @recipe.calories %>
</tr>


<tr>
  <p>Cook Time: <%= @recipe.cook_time %>
</tr>

<tr>
<p>Instructions: </p>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#instructions" aria-expanded="false" aria-controls="instructions">
    Show Details
  </button>
</p>
<div class="collapse" id="instructions">
  <div class="card card-body">
    <%= simple_format(@recipe.instructions) %>
  </div>
</div>
</tr>

<tr>
  <p>Region: <%= @recipe.region %>

</tr>

<tr>
<p>History: </p>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#history" aria-expanded="false" aria-controls="history">
    Show Details
  </button>

</p>

<div class="collapse" id="history">
  <div class="card card-body">
    <%= simple_format(@recipe.history) %>
  </div>
</div>
</tr>


<tr>
<p>Ingredients </p>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ingredients" aria-expanded="false" aria-controls="ingredients">
    Show Details
  </button>

</p>

<div class="collapse" id="ingredients">
  <div class="card card-body">
    <% @recipe.ingredients.each do | ingredient | %>
      <p><%= ingredient.name %>
    <%end%>
  </div>
</div>
</tr>

<tr>
  <p>Language of the Recipe: <%= @recipe.language %>
</tr>

<tr>
  <%= form_tag action = "/recipes/#{@recipe.id}/add_likes", method: 'put' do %>
  <%= submit_tag "Like", class: "btn btn-danger"%> 
      <span> <%= @recipe.likes %></span> 
  <%end%>
</tr>

</table>
</div>
</ul>

<%= form_for @recipe, method: :delete do |form| %> 
<%= form.submit "remove from my cookbook" %>
<% end %>