<ul><h1>Edit A Current User</h1></ul>
<%= form_with( model: @user ) do | form | %>
    <ul>
    <div class="form-group row">
        <div class ="col-auto">
            <h3><%= form.label "Username" %></h3>
            <% name_error_class = 'is-invalid' if(@errors["username"]) %>
            <%= form.text_field :username, class: "form-control #{name_error_class}" %>
            <% (@errors["username"] || [] ).each do | message | %>
                <span class="invalid-feedback"><%= message %></span>
            <% end %>
        </div>
    </div>
    
    <div class="form-group row">   
        <div class ="col-auto">
            <h3><%= form.label "Password" %></h3>
            <%= form.text_field :password, class: "form-control #{ @errors["password"] ? 'is-invalid' : '' }" %>
            <% (@errors["password"] || [] ).each do | message | %>
                <span class="invalid-feedback"><%= message %></span>
            <% end %>
        </div>
    </div>
   

    <div class="form-group">
        <h2><% form.label "Translator" %></h2>
        <h3>Do you want to translate Chinese-language recipes into English?</h3>
        <div class="custom-control custom-radio custom-control-inline">
            <p><%= form.radio_button :translator, "true" %>  Absolutely Yes!</p>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <p><%= form.radio_button :translator, "false" %>  No, I'm not bilingual.</p>
        </div>
    </div>


    <p><%= form.submit "Sign Up", class: "btn btn-primary" %>
<% end %>
</ul>