<h1>My Kitchen</h1>
<% if current_user %>
 <strong>Logged in as <%= current_user.username %></strong>
<% end %>
<br>
<br>
<br>
<br>
<br>

<h4>My Cookbook</h4>
<% @user.cook_books.each do |cook_book|%></p>
    <li><%= cook_book.name %></li>
<%end%>

<h3><%= button_to "Create a new cookbook", new_cook_book_path,  method:"get", class: "btn btn-success" %></h3>
<h3><%= button_to "Create a new recipe", new_recipe_path,  method:"get", class: "btn btn-success" %></h3>


<h4>All Recipes Submitted by Me</h4>
<% @user.recipes.each do |recipe|%></p>
    <p><%= recipe.name %>
<%end%>
 
</ul>

<%= button_to "Log out", session_path("current"),  method:"delete", class: "btn btn-success" %>