<h1><%= @cook_book.name %></h1>
<p><%= link_to "Back to My Kitchen", user_path(@user)%>
<br>
<h4>What would you like to eat today?</h4>
<% @cook_book.recipes.each do |recipe| %>
  <ol><%= link_to recipe.name, recipe_path(recipe) %> 
  </ol>
<% end %>

<!-- <a href="/cook_books/<%= @cook_book.id%>/edit">Edit Cook Book</a> -->
<%= button_to "Add new recipe", edit_cook_book_path,  method: :get, class: "btn btn-success" %><br>
<%= form_for @cook_book, method: :delete do |form| %>
<%= form.submit "Delete this cookbook" %> 
<% end %> 