    <div class="container text-dark">
    <nav class="nav nav-pills nav-fill fixed-top "  style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item">
        <a class="navbar-brand" href="/sessions">MasterChef</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sessions" ><strong style = "font-size:18px" >Welcome</strong></a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= request.env['PATH_INFO'].starts_with?('/sessions') ? 'active' : '' %>" href="/users/<%=session[:user_id]%>" ><strong style = "font-size:18px" >My Page</strong></a>
      </li>


      <li class="nav-item">
        <a class="nav-link <%= request.env['PATH_INFO'].starts_with?('/recipes') ? 'active' : '' %>" href="/recipes" ><strong style = "font-size:18px">Recipes</strong></a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= request.env['PATH_INFO'].starts_with?('/ingredients') ? 'active' : '' %>" href="/ingredients" ><strong style = "font-size:18px">Ingredients</strong></a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= request.env['PATH_INFO'].starts_with?('/stats') ? 'active' : '' %>" href="/stats" ><strong style = "font-size:18px">Stats</strong></a>
      </li>

      <%= form_tag(search_page_path, :method => "get", class:"form-inline my-2 my-lg-0") do %>  
          <div class="input-group" input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">  
            <%= search_field_tag :search, params[:search], placeholder: "Search our site", class: "form-control" %> 
          <div class='input-group-btn'>
            <%= button_tag "Search", :class => 'btn btn-outline-success my-2 my-sm-0', :name => nil%>
          </div>  
        </div>  
      <%end%>
    </nav>
  </div>

